<!-- begin::Header -->
<!-- <div class="text-primary" role="status" *ngIf="isLoading">
  <div class="spinner-border text-primary" role="status"></div>
  <span class="visually">Cargando...</span>
</div>
<div class="card-header border-0 pt-5">
  <h3 class="card-title align-items-start flex-column">
    <span class="card-label fw-bolder fs-3 mb-1">Articulos</span>
  </h3>
</div> -->
<!-- end::Header -->
<!-- begin::Body -->
<!-- <div class="card-body py-3" *ngIf="!isLoading"> -->
  <!-- begin::Table container -->
  <!-- <div class="table-responsive"> -->
    <!-- begin::Table -->
    <!-- <table class="table align-middle gs-0 gy-5"> -->
      <!-- begin::Table head -->
      <!-- <thead>
        <tr>
          <th class="p-0 min-w-100px">Nombre</th>
          <th class="p-0 min-w-100px">Numero de Parte</th>
          <th class="p-0 min-w-100px">Proveedor</th>
          <th class="p-0 min-w-100px">Cantidad Stock</th>
          <th class="p-0 min-w-50px">Acciones</th>
        </tr>
      </thead> -->
      <!-- end::Table head -->
      <!-- begin::Table body -->
      <!-- <tbody>
        <tr *ngFor="let item of products; let i = index">
          <td>
            <span class="text-gray-900 fw-bolder text-hover-primary mb-1 fs-6">{{ item.name }}</span>
          </td>
          <td>
            <span class="text-gray-900 fw-bolder text-hover-primary mb-1 fs-6">{{ item?.serial_numbers?.[0]?.serial || 'N/A' }}</span>
          </td>
          <td>
            <span class="text-gray-900 fw-bolder text-hover-primary mb-1 fs-6">{{ item.supplier_id ? item.supplier_id.name:'Sin proveedor' }}</span>
          </td>
          <td class="text-center">
            <span class="text-gray-900 fw-bolder text-hover-primary mb-1 fs-6">{{ item.stock_quantity ? item.stock_quantity:0 }}</span>
          </td>
          <td>
            <button class="btn btn-primary" (click)="addItem(item)">Agregar</button>
          </td>
        </tr>
      </tbody> -->
      <!-- end::Table body -->
    <!-- </table> -->
    <!-- end::Table -->
  <!-- </div> -->
  <!-- end::Table container -->
<!-- </div> -->
