<div class="row">
    <div class="col12 col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products">
      <p *ngFor="let translation of product.translations">
        <img *ngIf="translation.language == translator.getCurrentLanguage()" [src]="product.image"  [alt]="translation.name"  class="img-fluid" width="100%" >
      </p>
      <p *ngFor="let translation of product.translations">
        <span *ngIf="translation.language == translator.getCurrentLanguage()" [innerHTML]="translation.name"></span>
      </p>
      <p *ngFor="let translation of product.translations">
        <span *ngIf="translation.language == translator.getCurrentLanguage()" [innerHTML]="translation.description"></span>
      </p>
      <p *ngFor="let translation of product.translations">
        <span *ngIf="translation.language == translator.getCurrentLanguage()" [innerHTML]="translation.intro"></span>
      </p>
      <p>{{ product.model }}</p>
      <p>{{ product.key }}</p>
      <ng-container *ngFor="let translation of product.translations">
        <ng-container *ngIf="translation.language === translator.getCurrentLanguage()">
          <a *ngIf="translator.getCurrentLanguage() === 'es'" [routerLink]="['/producto', translation.slug]" class="-boton-azul btn btn-primary">ver mas</a>
          <a *ngIf="translator.getCurrentLanguage() === 'en'" [routerLink]="['/product', translation.slug]" class="-boton-azul btn btn-primary">see more</a>
        </ng-container>
      </ng-container>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let category of product.categories">
          <p *ngFor="let translation of category.translations">
            <span *ngIf="translation.language == translator.getCurrentLanguage()" [innerHTML]="translation.name"></span>
          </p>
          <p *ngFor="let translation of category.translations">
            <span *ngIf="translation.language == translator.getCurrentLanguage()" [innerHTML]="translation.description"></span>
          </p>
          <p *ngFor="let translation of category.translations">
            <span *ngIf="translation.language == translator.getCurrentLanguage()" [innerHTML]="translation.intro"></span>
          </p>
          <p *ngFor="let translation of category.translations">
            <img *ngIf="translation.language == translator.getCurrentLanguage()" [src]="category.image"  [alt]="translation.name"  class="img-fluid" width="100%" >
          </p>
        </div>
      </div>
      <img [src]="product.image"  [alt]="product.name"  class="img-fluid" width="100%" >
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let image of product.images; let i=index">
        Aqui empieza las galerias
        <img [src]="image" class="w-100" [alt]="image">
      </div>
    </div>
  </div>
