<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/dashboard">
    <span class="menu-title"
          translate="MENU.DASHBOARD"></span>
  </a>
</div>

<!-- USERS -->
<div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
     data-kt-menu-placement="bottom-start" *ngxPermissionsOnly="['full_access']">
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/users')">
    <span class="menu-title" translate="MENU.USERS"></span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px" data-kt-menu-dismiss="true">
    <div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start">
      <div class="menu-item me-lg-1">
        <a class="menu-link py-3" routerLinkActive="active" routerLink="/users">
          <span class="menu-bullet">
              <i class="ki-duotone ki-people">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
              </i>
            </span>
          <span class="menu-title" translate="MENU.USERS"></span>
        </a>
      </div>
      <div class="menu-item me-lg-1" *ngxPermissionsOnly="['full_access']">
        <a class="menu-link py-3" routerLinkActive="active" routerLink="/roles">
            <span class="menu-bullet">
              <i class="ki-duotone ki-user-square">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
              </i>
            </span>
          <span class="menu-title" translate="MENU.ROLES"></span>
        </a>
      </div>
      <div class="menu-item me-lg-1" *ngxPermissionsOnly="['full_access']">
        <a class="menu-link py-3" routerLinkActive="active" routerLink="/permissions">
            <span class="menu-bullet">
              <i class="ki-duotone ki-user-tick">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
                <span class="path4"></span>
                <span class="path5"></span>
              </i>
            </span>
          <span class="menu-title" translate="MENU.PERMISSIONS"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default: 'click', lg: 'hover'}"
     data-kt-menu-placement="bottom-start" *ngxPermissionsOnly="['full_access', 'view_web']">
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/web-site')">
    <span class="menu-title">Web</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px" data-kt-menu-dismiss="true">
    <div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start">
      <!-- Categories -->
      <div class="menu-item me-lg-1">
        <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/web-site/categories">
          <span class="menu-title"
                translate="MENU.CATEGORIES"></span>
        </a>
      </div>
      <!-- Products -->
      <div class="menu-item me-lg-1">
        <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/web-site/products">
          <span class="menu-title"
                translate="MENU.PRODUCTS"></span>
        </a>
      </div>
      <!-- Blogs -->
      <div class="menu-item me-lg-1">
        <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/web-site/blogs">
          <span class="menu-title"
                translate="MENU.BLOGS"></span>
        </a>
      </div>
      <!-- Tags -->
      <div class="menu-item me-lg-1">
        <a class="menu-link py-3" routerLinkActive="active menu-here" routerLink="/web-site/tags">
          <span class="menu-title"
                translate="MENU.TAGS"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- System -->
<!-- <div class="menu-item menu-lg-down-accordion me-lg-1 menu-dropdown"
     data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start">
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/system')">
    <span class="menu-title">Sistema</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px" data-kt-menu-dismiss="true" data-popper-placement="bottom-start">
    <div class="menu-item me-lg-1">
      <a class="menu-link py-3" routerLinkActive="active" routerLink="/system/sippliers">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
        <span class="menu-title">Proveedores</span>
      </a>
    </div>
    <div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start">
      <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/system/warehouse')">
        <span class="menu-icon"><i class="bi fs-3 bi-archive"></i></span>
        <span class="menu-title">Almacen</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px" data-kt-menu-dismiss="true">
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="/system/warehouse/categories">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Categorias</span>
          </a>
        </div>
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="/system/warehouse/products">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Productos</span>
          </a>
        </div>
      </div>
    </div>
    <div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start">
      <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/sales')">
        <span class="menu-icon"><i
          class="bi fs-3 bi-graph-up"></i></span>
        <span class="menu-title" data-link="/system/sales">Ventas</span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px" data-kt-menu-dismiss="true">
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="/system/sales/customers">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Clientes</span>
          </a>
        </div>
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="/system/sales/quotations">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Cotizaciones</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Chats -->
<div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="bottom-start">
  <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/chat')">
    <span class="menu-title">Apps</span>
    <span class="menu-arrow d-lg-none"></span>
  </span>
  <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px" data-kt-menu-dismiss="true">
    <div class="menu-item menu-lg-down-accordion me-lg-1" data-kt-menu-trigger="{default:'click', lg: 'hover'}"
         data-kt-menu-placement="right-start">
      <span class="menu-link py-3" [ngClass]="calculateMenuItemCssClass('/chat')"><span class="menu-icon">
        <app-keenicon name="element-plus" class="fs-md- text-white"></app-keenicon>
      </span>
      <span class="menu-title" data-link="/apps/chat">Chat</span><span class="menu-arrow"></span></span>
      <div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px" data-kt-menu-dismiss="true">
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="/chat/private-chat"><span
            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Chats Privados</span></a>
        </div>
        <div class="menu-item me-lg-1">
          <a class="menu-link py-3" routerLinkActive="active" routerLink="/chat/group-chat"><span
            class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Chat de Grupo</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
