<form class="form w-100" novalidate="novalidate" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" id="kt_login_password_reset_form" *ngIf="!token">
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="text-gray-900 fw-bolder mb-3">
      ¿Ha olvidado su contraseña?
    </h1>
    <!--end::Title-->

    <!--begin::Link-->
    <div class="text-gray-500 fw-semibold fs-6">
      Introduce tu correo electrónico para restablecer tu contraseña.
    </div>
    <!--end::Link-->
</div>
<!--begin::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Lo sentimos, parece que se han detectado algunos errores, por favor inténtelo de nuevo.
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info">Enviado restablecimiento de contraseña. Por favor, compruebe su correo electrónico</div>
      <!--end::Body-->
    </div>
  </ng-container>

  <!--begin::Form group-->
  <div class="fv-row mb-8">
    <label class="form-label fw-bolder text-gray-900 fs-6">Email</label>
    <input class="form-control bg-transparent" type="email" formControlName="email" placeholder="Email" name="email" autocomplete="off"
      [ngClass]="{
        'is-invalid': forgotPasswordForm.controls['email'].invalid,
        'is-valid': forgotPasswordForm.controls['email'].valid
      }"
    />

    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'El correo electronico es obligatorio',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'email',
        message: 'El correo electronico no tine un formato valido',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'minlength',
        message: 'El correo electronico debe tener minimo 3 caracteres',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
    <ng-container
      [ngTemplateOutlet]="formError"
      [ngTemplateOutletContext]="{
        validation: 'maxlength',
        message: 'El correo electronico debe tener minimo 360 caracteres',
        control: forgotPasswordForm.controls['email']
      }"
    ></ng-container>
  </div>
  <!--end::Form group-->
  <!--begin::Form group-->
  <div class="d-flex flex-wrap justify-content-center pb-lg-0">
    <button type="submit" id="kt_password_reset_submit" class="btn btn-primary me-4" [disabled]="forgotPasswordForm.invalid">
      <ng-container *ngIf="!(isLoading$ | async)">
        <span class="indicator-label">Enviar</span>
      </ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span class="indicator-pogress">
          Espere por favor...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
    <a routerLink="/auth/login" id="kt_login_password_reset_form_cancel_button" class="btn btn-light">
      Cancelar
    </a>
  </div>
  <!--end::Form group-->
</form>
<!--end::Form-->

<swal #noticeSwal [swalOptions]="swalOptions"></swal>

<form [formGroup]="passwordForm" class="form w-100" (submit)="savePassword($event)" novalidate *ngIf="token">
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <!--begin::Title-->
    <h1 class="text-gray-900 fw-bolder mb-3">
      ¡Cambie su contraseña!
    </h1>
    <!--end::Title-->
  <!--begin::Heading-->
  </div>

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        Lo sentimos, parece que se han detectado algunos errores, por favor inténtelo de nuevo.
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <ng-container *ngIf="errorState === errorStates.NoError">
    <div class="mb-10 bg-light-info p-8 rounded">
      <!--begin::Body-->
      <div class="text-info">Restablecimiento de contraseña. Inicie sesion</div>
      <!--end::Body-->
    </div>
  </ng-container>
  <div class="row mb-1">
    <div class="col-lg-6">
      <div class="fv-row mb-0">
        <label for="password" class="form-label fs-6 fw-bolder mb-3">Contraseña nueva</label>
        <input type="password" id="password" class="form-control form-control-lg form-control-solid" formControlName="password"
               [ngClass]="{
                            'is-invalid': passwordForm.controls['password'].invalid,
                            'is-valid': passwordForm.controls['password'].valid
                          }"/>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'La nueva contraseña es obligatoria',
                        control: passwordForm.controls['password']
                      }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'minlength',
                        message: 'La contraseña nueva debe tener minimo 8 caracteres',
                        control: passwordForm.controls['password']
                      }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'noSymbol',
                        message: 'La contraseña nueva debe tener almenos un simbolo, alemnos una mayuscula y almenos un numero',
                        control: passwordForm.controls['password']
                      }">
        </ng-container>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="fv-row mb-0">
        <label for="confirmpassword" class="form-label fs-6 fw-bolder mb-3">Confirmar nueva contraseña</label>
        <input type="password" id="confirmpassword" class="form-control form-control-lg form-control-solid" formControlName="confirmPassword"
               [ngClass]="{
                            'is-invalid': passwordForm.controls['confirmPassword'].invalid || (passwordForm.errors?.notSame && passwordForm.controls['confirmPassword'].touched),
                            'is-valid': passwordForm.controls['confirmPassword'].valid && passwordForm.controls['confirmPassword'].touched
                          }"/>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'required',
                        message: 'La repeticion de la contraseña es obligatoria',
                        control: passwordForm.controls['confirmPassword']
                      }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                        validation: 'notSame',
                        message: 'Las contraseñas no coinciden',
                        control: passwordForm
                      }">
        </ng-container>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <button id="kt_password_submit" type="submit" class="btn btn-primary me-2 px-6 mt-5" [disabled]="passwordForm.invalid">
      <ng-container *ngIf="!(isLoading$ | async)">Actualizar contraseña</ng-container>
      <ng-container *ngIf="isLoading$ | async">
                    <span class="indicator-progress" [style.display]="'block'">
                      Espere por favor...{{ " " }}
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
      </ng-container>
    </button>
    <button id="kt_password_route" type="button" class="btn btn-primary me-2 px-6 mt-5" (click)="forgotGo()" *ngIf="btn">
      <span>Volver a ingresar el email</span>
    </button>
  </div>
</form>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <span role="alert">{{ message }}</span>
      </div>
    </div>
  </ng-container>
</ng-template>
